/* 计算器布局样式表*/
#wrap{
	width:410px;
	height:420px;
	background-color:rgb(230,230,130);
	z-index:0;
}
#logo{
	width:100px;
	height:50px;
	color:red;
	font-family:italic;
	z-index:1;
	position:absolute;
	margin:10px;
}
#result{
	width:390px;
	height:60px;
	left:20px;
	top:50px;
	background-color:white;
	z-index:1;
	border:solid 1px;
	position:absolute;
}
#op{
	width:390px;
	height:280px;
	left:20px;
	top:115px;
	z-index:1;
	position:absolute;
	border:solid 1px;
}
.d_num{
	width:59px;
	height:40px;
	border:solid 1px black;
	margin:10px;
	cursor:pointer;
}
