.jd {
	/*width: 1325px;*/
	/*height: 479px;*/
	/*background-color: pink;*/
	position: relative;
}
.ad {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;		/*绝对定位会默认转换为行内块，所以要强制加宽*/
	/*height: 479px;		行内块元素加高度无效*/
	/*background-color: purple;*/
}
.ad a {
	display: block;
	width: 100%;
	height: 479px;
	background: url(../images/bg.png) no-repeat top center;
}
.jd-inner {
	position: relative;		/*此处转换为相对定位较合适，如果转换为绝对定位，盒子会默认转换为行内块，需要另外强制性加高度*/
	height: 479px;
	/*background-color: skyblue;*/
	z-index: 1;
}
.jd-inner .part1 {
	width: 190px;
	height: 479px;
	background-color: #6e6568;
	float: left;
	margin-right: 10px;
}
.part1 ul {
	padding-top: 17px;
}
.part1 li {
	height: 29px;
	line-height: 29px;
	/*background-color: #fff;*/
	padding-left: 10px;

}
.part1 li:hover {
	background-color: #999395;
}
.part1 a {
	color: #fff;	
}
.part1 a:hover {
	color: #f10125;	
}
.part1 span {
	color: #fff;
}
.jd-inner .part2 {
	width: 790px;
	height: 479px;
	/*background-color: purple;*/
	float: left;
}
.part2 .part2-top {
	width: 790px;
	height: 340px;
	background-color: #fff;
	float: left;
	margin-bottom: 9px;
}
.part2 img {	/*使图像自动适应盒子大小*/
	width: 100%;
	height: auto;
}
.part2 .part2-bottom1 {
	width: 390px;
	height: 130px;
	background-color: #fff;
	float: left;
	margin-right: 10px;
}
.part2 .part2-bottom2 {
	width: 390px;
	height: 130px;
	background-color: #fff;
	float: left;
}
.jd-inner .part3 {
	width: 190px;
	height: 479px;
	/*background-color: yellow;*/
	float: right;
}
.r-top {
	height: 115px;
	/*background-color: pink;*/
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.r-top .log-in {
	height: 36px;
	padding: 25px 0 0 69px;
	font-size: 12px;
	color: #ccc;
}
.log-in p {
	line-height: 25px;
}
.log-in a {
	font-size: 12px;
	color: #ccc;
}
.log-in a:hover {
	color: #f10125;
}
.profit {
	padding: 15px 16px 0;
}
.profit a {
	display: block;
	width: 71px;
	height: 22px;
	line-height: 22px;
	float: left;
	font-size: 14px;
	color: #f10125;
	border: 2px solid #f10125;
	text-align: center;
}
.profit .plus {
	float: right;
}
.profit a:hover {
	color: #fff;
	background-color: #f10125;
}
.touxiang {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	left: 15px;
	/*background: url(../images/no_login.jpg) no-repeat;*/	
}
.touxiang img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.r-middle {
	height: 154px;
	/*background-color: skyblue;*/
	padding: 0 15px;
}
.chuxiao {
	height: 23px;
	line-height: 23px;
	padding-top: 5px;
	font-size: 12px;
	color: #ccc;
	padding-top: 5px;
	border-bottom: 1px solid #ccc;
}

.chuxiao a {
	font-size: 12px;
	color: #ccc;
}
.chuxiao .more {
	padding-left: 59px;
}
.xingqing {
	padding-top: 16px;
}
.xingqing li {
	font-size: 12px;
	color: #ccc;
	height: 23px;
}
.r-bottom {
	height: 208px;
	/*background-color: red;*/
}
.r-bottom ul {
	height: 68px;
	/*background-color: #fff;*/
	border-top: 1px solid #ccc;
}
.r-bottom li {
	width: 46px;
	height: 68px;
	/*background-color: pink;*/
	float: left;
	border-right: 1px solid #ccc;
	position: relative;
}
.r-bottom .none {
	border-right: none;
}
.r-bottom .text {
	padding: 44px 11px 10px;
}
.r-bottom a {
	color: #ccc;
	font-size: 12px;
}
.r-bottom a:hover {
	color: #f10125;
}
.rb-icon {
	width: 24px;
	height: 24px;
	/*background-color: #fff;*/
	position: absolute;
	top: 15px;
	left: 12px;
	background: url(../images/sprite_fs@1x.png) no-repeat;
}
.two {
	background-position: -42px 0;
}
.three {
	background-position: -87px 0;
}
.four {
	background-position: -131px 0;
}
.five {
	background-position: 0px -43px;
}
.six {
	background-position: -42px -43px;
}
.seven {
	background-position: -87px -43px;
}
.eight {
	background-position: -131px -43px;
}
.nine {
	background-position: 0px -87px;
}
.ten {
	background-position: -42px -87px;
}
.eleven {
	background-position: -87px -87px;
}
.twelev {
	background-position: -131px -87px;
}
