body{
	font-family:verdana;
	font-size:16px;
	margin:0;
	text-align:center;
}

#container{
	margin:0 auto;
	width:900px;
}

#header{
	height:118px;
	margin-bottom:5px;
	background:rgb(230,230,230) url("tt.jpg") no-repeat;
}

#pagebody{
	height:500px;
	margin-bottom:5px;
}

#sidebar{
	float:left;
	height:500px;
	width:200px;
	background:#9ff;
}

#mainbody{
	float:right;
	height:500px;
	width:695px;
	background:#cff url("2.jpg") no-repeat center center;
}

#footer{
	height:60px;
	padding-top:20px;
	background:rgb(230,230,230);
	text-align:center;
	font-family:"Courier New";
	font-size:12px;
}

span{
	width:50px;
	margin-top:50px;
	margin-right:15px;
	font-size:20px;
	font-family:"华文新魏";
	cursor:pointer;
	text-align:right;
	
}

ul{
	list-style-type:none;
}

h3{
	text-align:center;
	color:black;
	font-size:30px;
	font-family:"华文新魏";
	padding-top:10px;
}

img{
	float:left;
}